[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dnspython = "==2.7.0"
mongo-migrator = "==1.0.0rc1"
pymongo = "==4.11.1"

[dev-packages]

[requires]
python_version = "3.10"
